header{
    text-align: center;
    font-size: 50px;
}

body{
    background-color: lightskyblue;
}

.container{
    height:600px;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    border:3px solid black;
}

.button1{
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:100px;
    height:40px;
    position: absolute;
}

.btn{
    width:100px;
    height:40px;
}

.hidden{
    display:none;
}